.glassbox {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: #666 1px solid;
    margin: 10px;
    cursor: pointer;
}

.avatar:hover {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: #666 3px solid;
    margin: 10px;
    cursor: pointer;
}

.textbox {
    display: flex;
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #666;
    background: #FFF;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn1 {
    background-color: #FFC720;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}

.btn2 {
    background-color:#FF0000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}

.btn3 {
    background-color:#FFC720;
    color: white;
    padding: 8px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
}

/* input[type = 'file']{
    display: none;
} */

.loginButton{
    background-color: #FFC720;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}

.background {
    margin: auto;
    background-image: url(../assets/user-management/backgroundImg3.jpg);
}

