.home-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-container {
    margin-right: 30px;
  }
  
  .profile-container img {
    width: 75px;
    height: 75px;
    margin-top: 20px;
    border-radius: 10px;
  }
  
  .text-container {
    margin-top: 10px;
    text-align: center;
  }
  
  .text-section {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .text-section .text1,
  .text-section .text2,
  .text-section .text3 {
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .text-section h1 {
    font-family: sans-serif; /* Add your desired font family */
    text-align: center;
  }
  
  .text-section p {
    text-align: center;
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
    margin-top: 20px;
  }
  
  .btn {
    display: block;
    margin: 0 auto;
  }
  
  .btn-danger {
    background-color: red;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    width: 35%;
  }

  .item-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #e7e7e7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
}

.form {
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin-bottom: 15px;
}

.form-title {
    color: black;
    font-weight: bold;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 7px;
    text-align: center;
}

/* Add more CSS styles as needed */

  